<%- include ('partials/header') -%>

<div class="row">
  <div class="col">
    <div class="container">
      <div class="box">
        Contact:
        <h1><%= content %> <%= email %></h1>
        <h1>Or on <a href=<%= discord %>>discord</a></h1>
      </div>
    </div>
  </div>

  <div class="col">

  </div>
</div>



<%- include ('partials/footer') -%>
